<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Login</title>
    </head>
    <body>
        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            {{ form }}
            <button>Log In</button>
        </form>
    </body>
</html>

