<form hx-put="{% url 'todo:todo-detail' todo.pk %}" hx-target="#todo-details">
    {% csrf_token %}
    <h1>
      {{ todo.pk }}
    </h1>
    {{ form.as_p }}
    <input class="btn btn-primary" type="submit" />
</form>