{% extends 'todo/base.html' %}

{% block content %}

  <h1>Todo</h1>
  <hr>

  <p>
    Welcome, {{ user }}. <a href="{% url 'logout' %}">Log out</a>
  </p>

  <hr>

  <table class="table">
    <thead>
      <tr>
        <td>Id</td>
        <td>Text</td>
      </tr>
    </thead>
    <tbody>
      {% include 'todo/partials/list.html' %}
    </tbody>
  </table>

  <hr>
  <form method="POST" action="{% url 'todo:todos' %}">
    {% csrf_token %}
    {{ todo_form }}
    <button>Submit</button>
  </form>

{% endblock %}
